html{
    font-family: 'Archivo Narrow', sans-serif;
}

.column_container {
    width: 960px;
    margin: auto;
    padding-top: 50px;
}

em {
    font-style: italic;
}

h1, h2, h3, p {
    margin: 0;
}

header {
    text-align: center;
    color: whitesmoke;

    background-image: url("../img/mountains.jpg");
    background-size: cover;
    background-position: center;
}

header .column_container{
    padding-top: 152px;
    padding-bottom: 187px;
}

h1 {
    font-size: 80px;
}

header h2 {
    font-size: 30px;
    line-height: 1.1;
}

h3 {
    text-align: center;
    font-size: 40px;
    line-height: 34px;
    padding-bottom: 42px;
}

p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 16px;
}

#barn {
    width: 400px;
    height: 300px;
    float: right;
    padding: 0 0 30px 45px;
}

.barn_section {
    color: whitesmoke;
    background-color: rgb(22, 84, 120);
    padding-bottom: 40px;
}

li img {
    width: 200px;
    height: 150px;
    float: left;
    margin-bottom: 25px;
    margin-right: 12px;
}

h3.photogrid {
    padding-bottom: 25px;
}

ul {
    padding: 0;
    list-style-type: none;
    display: grid;
    margin-top: 0;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 35px;
    margin-bottom: 0;
}

h4 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 8px;
}

li p {
    width: 440px;
    font-size: 18px;
    line-height: 1.35em;
}

.photogrid {
    color: whitesmoke;
    background-color: rgb(163, 176, 64);
}



p.fourth {
    text-align: center;
    width: 720px;
    margin: auto;
    font-size: 26px;
    padding-bottom: 100px;
}

.fourth {
    background-color: whitesmoke;
    color:  rgb(22, 84, 120);
}

footer p {
    line-height: 0;
    margin-top: 5px;
}

footer {
    background-color: lightslategray;
    padding-bottom: 35px;
    color: whitesmoke;
}
